---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Spark";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="relative w-full h-[200px]">
    <img 
      src="/images/hero-image.png" 
      alt="Hero image" 
      class="w-full h-full object-cover"
    />
    <h2 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center">We innovate human-centric strategies for your adoption through OCM.</h2>
  </div>
</BaseLayout>