---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Spark";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>We innovate human-centric strategies for your adoption through OCM.</h2>
</BaseLayout>