---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header class="fixed top-0 left-0 w-full z-50">
  <div class="absolute inset-0">
    <img 
      src="/images/hero-image.png." 
      alt="Header background" 
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/50"></div>
  </div>
  <nav class="relative z-50">
    <Hamburger />
    <Navigation />
  </nav>
</header>